- var page = "Inicio"
doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		include _head.jade
	body
		include index/index.html
		include seccionVision/vision.html
		include seccionServicios/index.html
		include portfolio/index.html
		include contacto/index.html

	